<% if current_user&.onboarded? && StickerPromo.active? && !current_user.has_dismissed?(StickerPromo.dismissal_key) %>
  <div data-controller="sticker-promo" data-sticker-promo-key-value="<%= StickerPromo.dismissal_key %>">
    <dialog class="sticker-promo" data-sticker-promo-target="dialog">
      <div class="sticker-promo__content">
        <button type="button" class="sticker-promo__close" data-action="click->sticker-promo#dismiss" aria-label="Close">&times;</button>

        <h2 class="sticker-promo__heading">Get a free sticker!</h2>

        <div class="sticker-promo__image-wrap">
          <%= image_tag "sticker-promo-hero.png", alt: "Hack Club × Stardance Challenge sticker", class: "sticker-promo__image" %>
        </div>

        <p class="sticker-promo__text">
          If you ship a project by <strong class="sticker-promo__underline"><%= StickerPromo::DEADLINE_LABEL %></strong>
        </p>

        <button type="button" class="sticker-promo__cta" data-action="click->sticker-promo#dismiss">I'll start hacking now!</button>

        <%= link_to "Want ideas? Check out our missions!", missions_path, class: "sticker-promo__link", data: { action: "click->sticker-promo#dismissAndNavigate" } %>
      </div>
    </dialog>
  </div>
<% end %>
