<% content_for :title, "Support" %>

<%= render HeadingComponent.new(title: "Support", tone: :blue, size: :full) %>

<div class="admin-workspace">
  <%= render ActionButtonComponent.new(text: "Users", href: admin_users_path) %>
  <%= render ActionButtonComponent.new(text: "Projects", href: admin_projects_path) %>
  <%= render ActionButtonComponent.new(text: "Shop orders", href: admin_shop_orders_path) %>
</div>
