<%= turbo_stream.replace "shop_items" do %>
  <%= turbo_frame_tag "shop_items" do %>
    <div class="shop-category__items">
      <% @shop_items.each do |item| %>
        <% if item.image.present? && item.enabled_in_region?(@user_region) %>
          <% sale_price = item.price_for_region(@user_region) %>
          <%= render ShopItemCardComponent.new(
            item_id: item.id,
            name: item.name,
            description: item.description,
            hours: item.fixed_estimate(sale_price).to_i,
            price: item.ticket_cost,
            image_url: item.image.variant(:carousel_lg),
            item_type: item.type,
            balance: @user_balance,
            enabled_regions: item.enabled_region_codes,
            regional_price: sale_price,
            logged_in: true,
            remaining_stock: item.remaining_stock,
            limited: item.limited?,
            on_sale: item.on_sale?,
            sale_percentage: item.sale_percentage,
            original_price: item.base_price_for_region(@user_region),
            enabled_until: item.enabled_until
          ) %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
